@model fvm.Models.EquipmentAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentAssignment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.ContactDesignator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.ContactDesignator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment.EquipmentDesignator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.EquipmentDesignator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipmentAssignmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
