@model fvm.Models.RunAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RunAssignment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteDesignator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteDesignator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Run.RunDesignator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Run.RunDesignator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RunAssignmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
